@media(max-width:600px) {
    

body{
    margin: 1rem 0.4rem;
    padding: 0;
}

.nav-parentsec{
/* background-color: rgb(229, 39, 39); */
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 1rem;
}

.userlogo{
    border-radius: 50%;
    padding: 0.4rem;
    /* background-color: aqua; */
    border: 1px solid;
    margin-left: 0.3rem;
}
.nav-childsec{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    width: 3rem;
    padding: 0.5rem;
}
.searchbar-parent{
    background-color: rgb(238, 235, 234);
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    /* background-color: aqua; */
    margin-bottom: 1rem;
}
.searchlogo{
 /* background-color: aqua; */
 /* margin-left: 4rem; */
 padding: 0.3rem;
}
.searchbar-child1{
    background-color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 300px; */
    padding: 0.1rem 0.4rem;
    border: 1px solid ;
    border-radius: 1rem;
    margin-left: 6rem;
}

.searchbar-child1 input{
    /* background-color: blueviolet; */
    /* border-radius: 0.4rem; */
    border: none;
    border-color: white;
    /* padding: 0.4rem; */
}

.searchbar-child2{
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 200px;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

.microphone-logo{
    /* background-color: chocolate; */
    padding: 0.5rem;
}
.camera-logo{
    /* background-color: burlywood; */
    padding: 0.5rem;
}


.categories-parent{
    background-color: rgb(244, 239, 239);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
.categories-parent a{
    text-decoration: none;
    color: black;
}

.home-parentsec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(204, 32, 32); */
    /* justify-content: center; */
    margin: 0.5rem;

}

.homechild-sec{
    /* background-color: aqua; */
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-parentsec img{
    border-radius: 1rem;

}

.home-parentsec p{
    /* color: white; */
    /* display: flex; */
    /* align-items: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}


.advertisement{
    /* background-color: red; */

}

.advertisement img{
    padding: 1rem 0.4rem;
     
}

.article-parent{
    /* background-color: aqua; */
    /* padding: 1rem; */
}

.article-child{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.article-child1{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(200, 193, 193);
    border-radius: 1rem;
    /* height: 150px; */
    /* margin: 1rem; */
    padding:0.3rem;
}
.article-child img{
    border-radius: 1rem;
}
.article-child1 p{
    /* background-color: rgb(28, 101, 101); */
    margin: 0.3em;
    color: rgb(89, 87, 87);
}

.article-parent h4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offerzone-parent{
    display: flex;
    /* background-color: aqua; */
    /* flex-wrap: wrap; */
    /* width: 400px; */
    /* margin-left: 2rem; */
    /* padding: 1rem 2rem; */
    margin: 0rem;
    padding: 1rem;
    justify-content: space-between;

}

.offerzone-child img{
    border-radius: 4rem;
}
.offerzone-child{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem ;
    border-radius: 1rem;
}


.footer{
    margin: 1rem 0;
    padding: 1rem;
    background-color: rgb(224, 223, 223);
}
.footer-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: red; */
    font-weight: 2000;
    font-size: 2rem;
    /* padding: 1rem 0rem; */
    margin: 0;
    /* background-color: aqua; */
}

.footer-child{
margin: 0%;
/* background-color:pink; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
.footer-child a{
    text-decoration: none;
    color: rgb(84, 82, 82);
    /* background-color: aqua; */
    padding: 0.4rem;
}
.footer-child1{
    /* background-color: red; */
    padding: 0.4rem;
}

.footer-child2{
    display: flex;
    justify-content: center;
}

.logo{
/* background-color: red; */
padding: 0.4rem;
}



}
